.avatarWrapper {
  composes: faic from global;
  cursor: pointer;
  strong {
    margin-left: 10px;
  }
}

.crown {
  composes: icon from global;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  text-indent: -9999px;
  &:after {content: '\3000';}
}



.replyToContent {
  color: #ccc;
  padding: 10px 20px 0;
  font-size: 14px;
  margin: 0;
  cursor: auto;
}

.referCommentContent {
  composes: replyToContent;
  position: relative;
  top: 10px;
  left: 10px;
  border-left: 5px solid #acc6aa;
  background-color: #eee;
  padding: 5px 15px;
  margin-bottom: 10px;
}





