.postItem {
  padding: .4rem;
  cursor: pointer;
}

.postItem:not(:first-child) {
  border-top: 1px solid #f1f1f1;
}

.avatarWrapper {
  composes: faic from global;
  & > time {
    margin-left: .3rem;
  }
}

.title {
  line-height: .48rem;
  margin: 0;
  margin-top: .2rem;
}

.postItemMain {
  padding: .3rem 0;
}

.postItemMain:after {
  content: '';
  display: block;
  height: 0;
  clear: left;
}

.poster {
  float: left;
  width: 2.4rem;
  height: 1.35rem;
  object-fit: cover;
  object-position: 50%;
  margin-right: .4rem;
}

.content {
  margin: 0;
  line-height: .3375rem;
  color: #333;
  max-height: 1.35rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
