.scrollContainer {
  height: 100%;
  border-top: 69px solid transparent;
  padding-top: 40px;
  overflow: auto;
  padding-bottom: 40px;
}

.spinWrapper{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  & > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
