.postContentSection {
  background-color: white;
  padding: .4rem .4rem .2rem;
}

.postTitleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.more {
  composes: moreBtn from global;
  width: 24px;
  height: 24px;
  padding: 5px;
}

.postContent {
  padding-top: .2rem;
}

.postInfoFooter {
  composes: faic from global;
  margin-left: -0.2rem;
  padding: .2rem 0;
}

.postCommentSection {
  background-color: white;
  margin-top: 20px;
}

.postCommentHeader {
  composes: faic from global;
  justify-content: space-between;
  padding: .2rem .4rem;
  border-bottom: 1px solid #ccc;
  h3 {
    margin: 0;
  }
}

.notLoggedInComments {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1rem;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba($color: #fff, $alpha: 1), rgba($color: #ccc, $alpha: .8));
  }
}

.loginToComment {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
  z-index: 1;
  a {
    display: block;
    line-height: .64rem;
  }
}

.noComment {
  padding-top: .6rem;
}


.paginatorWrapper {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
  padding: .4rem 0;
}


.commentBoxWrapper {
  padding: 1rem .4rem .4rem;
}

.postOtherInfo {
  background-color: white;
  padding: .3rem .4rem .4rem;
}

.postTags {
  & > li {
    float: left;
    padding-top: .1rem;
  }
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: left;
  }
}

.postOtherInfoIcon {
  padding-top: .2rem;
  margin-left: -.2rem;
}

.authorInfoSection {
  margin-top: 20px;
  background-color: white;
}

.authorInfoHeader {
  padding: .2rem .2rem .2rem .4rem;
  h3 {
    margin: 0;
  }
}

.authorInfoHeader {
  composes: faic from global;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.contactAuthorBtns,
.authorInfoMain {
  composes: faic from global;
}

.authorInfoMain {
  padding: .3rem .4rem;
  border-bottom: 1px solid #eee;
}

.avatarWrapper,
.authorInfo {
  cursor: pointer;
}


.authorInfo {
  // padding: .2rem .4rem;
  margin-left: .4rem;
  & > p {
    margin-bottom: .5em;
  }
}

.signature {
  padding: .3rem .4rem;
}


