.listWithHeader {
  &>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .3rem;
    border-bottom: 1px solid #ccc;
    &>h4 {
      margin: 0;
      line-height: 50px;
    }
    .searchWrapper {
      width: 220px;
    }
  }
}

.spinWrapper {
  padding: .4rem 0;
  text-align: center;
}


.iconWrapper {
  padding: .8rem 0;
  text-align: center;
  &>p {
    margin-bottom: 0;
    margin-top: 10px;
    color: #999;
  }
}


.paginatorWrapper {
  padding: .2rem .3rem;
  display: flex;
  justify-content: flex-end;
}



// .page{
//   padding: 10px;
// }
// .head{
//   display: flex;
//   justify-content: space-between;
//   border-bottom: 1px solid #aaa;
//   padding-bottom: 10px;
// }
// .search{
//   width: 40%;
// }
// .list{
//   padding: 10px 0;
//   display: flex;
//   border-bottom: 1px solid #aaa;
//   justify-content: space-between;
// }
// .left,.top{
//   display: flex;
// }
// .headImg{
//   width: 60px;
//   height: 60px;
// }
// .following{
//   border: 1px solid #aaa;
//   border-radius: 5px;
//   padding: 5px 10px;
// }
// .more {
//   composes: moreBtn from global;
//   width: .24rem;
//   height: .24rem;
//   padding: .1rem;
// }
