.page{
  padding: 10px;
}
.head{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
.search{
  width: 40%;
}
.list{
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #aaa;
  justify-content: space-between;
}
.left,.top{
  display: flex;
}
.headImg{
  width: 60px;
  height: 60px;
}
.following{
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px 10px;
}
.more {
  composes: moreBtn from global;
  width: .24rem;
  height: .24rem;
  padding: .1rem;
}
