.selectTagTitle {
  margin-bottom: 0;
}


.selectTagMain {
  padding: 5px .3rem 0;
  line-height: 1.5;
}

.tagsWrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  &>header {
    padding: 10px 20px 10px;
    border-bottom: 1px solid #ccc;
    .tips {
      line-height: calc(.12rem + 21px);
      margin-bottom: 0;
    }
  }
  &>main {
    padding: 5px 20px;
  }
}

.categoryTagsList {
  margin-left: -15px;
  margin-top: -10px;
  margin-bottom: 0;
}

.categoryTagsList:after {
  content: '';
  display: block;
  height: 0;
  clear: left;
}

.listItem {
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}

.categoryTag {
  composes: listItem;
  border: 1px solid #ccc;
  padding: .06rem .2rem;
  border-radius: 5px;
  cursor: pointer;
  a {
    color: #ccc;
  }
}

.categoryTagActive {
  composes: categoryTag;
  border-color: #1890ff;
  a {
    color: #1890ff;
  }
}
