.postItemFooter,
.postItemInfo,
.postItemTags,
.postItemStatistic {
  composes: faic from global;
}

.postItemFooter {
  composes: fsb from global;
}

.postItemPublishTime {
  color: #666;
  margin-left: .4rem;
}
