.breadCrumbWrapper {
  composes: faic from global;
  border-bottom: 1px solid #ccc;
  padding: .2rem .3rem;
  & > p {
    margin: 0;
  }
}

.main {
  background-color: white;
}

.spinWrapper {
  padding: .4rem 0;
  text-align: center;
}

.iconWrapper {
  padding: .8rem 0;
  text-align: center;
  &>p {
    margin-bottom: 0;
    margin-top: 10px;
    color: #999;
  }
}

.paginatorWrapper {
  padding: .2rem .3rem;
  display: flex;
  justify-content: flex-end;
}

