/*
* @Author: Jackhzh
* @Date:   2019-01-02 09:21:26
* @Last Modified by:   Jackhzh
* @Last Modified time: 2019-01-07 16:51:51
*/
.tabWrapper {
  background-color: white;
  [class*="ant-tabs-bar"] {
    padding: 0 .4rem;
  }
}

.filter {
  composes: icon from global;
  display: block;
  width: 24px;
  height: 24px;
}

.postList {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
}

.spinWrapper {
  padding: 20px 0;
  text-align: center;
}

.iconWrapper {
  padding: .8rem 0;
  text-align: center;
  &>p {
    margin-bottom: 0;
    margin-top: 10px;
    color: #999;
  }
}
