.loginForm {
  div[class*="ant-form-item"]:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.forgetPassword {
  composes: faic from global;
  justify-content: flex-end;
}

.loginBtn {
  width: 100%;
  margin-top: 24px;
}

.registerTips {
  margin: 0;
  text-align: center;
}
