.postItem {
  padding: .2rem 10px;
  &:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
  }
}

.header {
  composes: faic from global;
  justify-content: space-between;
}

.title {
  h4 {
    margin: 0;
    cursor: pointer;
  }
}

.more {
  composes: moreBtn from global;
  width: .24rem;
  height: .24rem;
  padding: .1rem;
}

.popoverBtns {
  margin: -12px -16px;
  li {
    padding: 8px 16px;
  }
  li:not(:first-child) {
    border-top: 1px solid #ccc;
  }
}


.popoverItem {
  display: block;
  line-height: 24px;
  color: #666;
}

.deleteBtn {
  composes: popoverItem;
  color: red;
  &:hover {
    color: red;
  }
}

.footer {
  composes: faic from global;
  padding: .1rem 0 .06rem;
  time {
    margin-right: .4rem;
  }
  &>.wordCount {
    margin: 0;
    color: #888;
  }
}

.iconBtnWrapper {
  composes: faic from global;
}

