.commentItem {
  border-bottom: 1px solid #ccc;
}

.replySpread {
  max-height: 9999px;
}

.replyCollapse {
  max-height: 0;
  overflow: hidden;
}

.paginatorWrapper {
  display: flex;
  justify-content: center;
  background-color: #e8e8e8;
  padding: 10px 0;
}

