.commentItem {
  border-bottom: 1px solid #ccc;
  padding-top: .2rem;
}

.replySpread {
  max-height: 9999px;
}

.replyCollapse {
  max-height: 0;
  overflow: hidden;
}

.paginatorWrapper {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding: .2rem 0;
}

