.replyItem {
  background-color: #e8e8e8;
  padding-left: 45px;
  &:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
  }
}

.replyMain {
  padding: 15px 40px 10px 31px;
  background-color: white;
}

.replyItemHeader,
.replyItemFooter {
  composes: faic from global;
  justify-content: space-between;
}

.replyItemHeader {
  & > p {
    margin-bottom: 0;
  }
}

.publisherInfo {
  display: flex;
  align-items: center;
  & > time {
    margin-left: .4rem;
  }
}

.commentContent {
  margin: .6em 0;
  font-size: 16px;
  text-indent: 20px;
}

.replyItemFooter {
  margin-left: -.2rem;
}

.iconBtns {
  display: flex;
  align-items: center;
}

.more {
  composes: icon from global;
  display: block;
  width: .32rem;
  height: .32rem;
  padding: .1rem 0 .1rem .1rem;
  box-sizing: content-box;
  background-origin: content-box;
  cursor: pointer;
}

.popoverBtns {
  margin: -12px -16px;
  li {
    padding: 8px 16px;
  }
  li:not(:first-child) {
    border-top: 1px solid #ccc;
  }
}
