.registerWrapper {
  background-color: white;
  &>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .3rem;
    border-bottom: 1px solid #ccc;
    background-color: white;
    &>h4 {
      margin: 0;
      line-height: 50px;
    }
  }
}

.stepsWrapper {
  padding: .4rem .6rem;
}

.registerMain {
  padding: .4rem 0;
}

