.scrollContainer {
  height: 100%;
  border-top: 69px solid transparent;
  overflow-y: auto;
  overflow-x: hidden;
}

.appMain {
  padding: 40px 0;
}

.tabWrapper {
  background-color: white;
  [class*="ant-tabs-bar"] {
    padding: 0 .4rem;
  }
}

.filterBtn {
  line-height: 45px;
  span {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
  }
}

.filterIcon {
  composes: icon from global;
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: top;
  margin-top: 14px;
}

.spreadIcon {
  composes: filterIcon;
  transform: rotate(180deg);
}


.postList {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
}

.spinWrapper {
  padding: 20px 0;
  text-align: center;
}

.iconWrapper {
  padding: .8rem 0;
  text-align: center;
  &>p {
    margin-bottom: 0;
    margin-top: 10px;
    color: #999;
  }
}







