.spinWrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  &>div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.fixedHeader {
  composes: faic from global;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  padding: 0 80px;
  border-bottom: 1px solid #ccc;
  background-color: white;
  z-index: 1;
}

.leftSide,
.rightSide {
  composes: faic from global;
}

.returnBtn {
  display: block;
  line-height: 67px;
  padding: 0 20px;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
}

.draftSaveTips {
  color: #999;
  padding-left: 80px;
  margin-bottom: 0;
  span {
    margin-left: 10px;
  }
}

.settingWrapper {
  margin-right: 40px;
  cursor: pointer;
}

.publishBtn {}

/* header样式结束 */

.main {
  font-size: 16px;
  padding: 138px 0 60px;
}

.editorWrapper {
  padding: 60px 80px;
  background-color: white;
}

.titleInputWrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
  input {
    display: block;
    width: 100%;
    font-size: 32px;
    border: none;
    outline: none;
  }
}

.mainContentWrapper {
  &>div {
    box-shadow: none;
    overflow: visible;
  }
  [class*=sc-gzVnrw] {
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    z-index: 1;
    padding-left: 80px;
    &> :first-child {
      border-left: 1px solid #ebebeb;
    }
  }
  [class*=sc-brqgnP] {
    min-height: 400px;
    margin: 0 -25px;
  }
  [class*=sc-chPdSV] {
    overflow: visible;
  }
  div[title*=Help] {
    border-left: 0.5px solid #ebebeb;
    border-right: 0.5px solid #ebebeb;
    border-bottom: none;
    vertical-align: top;
  }
  [class*=markdown-body] {
    // blockquote {
    //   padding: 15px 30px;
    //   margin-top: 10px;
    //   border-left: 6px solid #8785A2;
    //   background-color: #F7F5F1;
    // }
    // p {
    //   font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    //   line-height: 24px; // text-align: justify;
    // }
    // &>p {
    //   margin: 15px 0;
    //   color: #666;
    //   font-size: 14px;
    // }
    // strong,
    // em {
    //   padding: 0 6px;
    //   color: #515151;
    // }
    // h2,
    // h3,
    // h4,
    // h5,
    // h6 {
    //   font-family: "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    //   ;
    //   color: #313131;
    // }
    // h2 {
    //   line-height: 32px;
    //   margin: 20px 0 0;
    //   padding-bottom: 10px;
    //   border-bottom: 2px solid #ddd;
    // }
    // h3 {
    //   line-height: 28px;
    //   margin: 18px 0 10px;
    //   &+h4 {
    //     margin-top: 0;
    //   }
    // }
    // h4 {
    //   line-height: 26px;
    //   margin: 16px 0 10px;
    //   &+h5 {
    //     margin-top: 0;
    //   }
    // }
    // h5 {
    //   line-height: 24px;
    //   margin: 14px 0 10px;
    //   &+h6 {
    //     margin-top: 0;
    //   }
    // }
    // h6 {
    //   line-height: 22px;
    //   margin: 12px 0 10px;
    // }
    // figure {
    //   margin-top: 15px;
    //   text-align: center;
    //   img {
    //     vertical-align: top;
    //     border-radius: 5px;
    //   }
    //   figcaption {
    //     padding-top: 10px;
    //     .figure-caption {
    //       font-size: 12px;
    //       color: #bfbfbf;
    //     }
    //   }
    // }
    // .code-wrapper {
    //   line-height: 20px;
    //   font-size: 12px;
    // }
    // /* 列表样式 */
    // li {
    //   font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    //   color: #666;
    //   font-size: 14px;
    //   line-height: 20px;
    //   padding-top: 10px;
    // }
    // li:first-child {
    //   padding-top: 0px;
    // }
    // &>ol {
    //   margin-top: 15px;
    // }
    // li>ul,
    // li>ol {
    //   position: relative;
    //   background-color: white;
    //   padding-left: 30px;
    // }
    // &>ul {
    //   margin-top: 15px;
    //   &>li {
    //     &:before {
    //       content: '';
    //       float: left;
    //       width: 5px;
    //       height: 5px;
    //       background-color: #8a8a8a;
    //       margin: 7px 7px 0;
    //       border-radius: 50%;
    //     }
    //   }
    // }
    // li>ul>li {
    //   &:before {
    //     content: '';
    //     float: left;
    //     width: 4px;
    //     height: 4px;
    //     border: 1px solid #8a8a8a;
    //     margin: 6px 7px 0;
    //     border-radius: 50%;
    //   }
    // }
    // /* 列表样式end */
    // .emphasize {
    //   display: inline-block;
    //   vertical-align: top;
    //   padding: 0 5px;
    //   border-radius: 5px;
    //   color: #E76C23;
    //   background-color: #f8f8f8;
    //   margin: 0 5px;
    // }
    // a {
    //   color: #00BBF0;
    //   font-size: 14px;
    //   margin: 0 5px;
    //   &:hover {
    //     color: #FF63B5;
    //   }
    // }
  }
}

