.notifyItem {
  composes: faic from global;
  position: relative;
  padding: 15px 40px;
  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}

.main {
  width: 100%;
  composes: faic from global;
  justify-content: space-between;
}

.contentWrapper {
  width: calc(100% - 120px);
}

.btnWrapper {
  width: 80px;
  margin-left: 40px;
}

.header {
  composes: faic from global;
  justify-content: space-between;
  h4 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 10px;
  }
  time {
    margin-left: 20px;
  }
}

.summary {
  margin-top: 12px;
  margin-bottom: 0;
  text-indent: 20px;
  span {
    padding-right: 20px;
  }
  .showDetailsBtn {
    white-space: nowrap;
  }
}

.btn {
  [class*="ant-btn"] {
    padding: 0;
  }
}

.btn:not(:first-child) {
  margin-top: 10px;
}

.clickableSummary {
  composes: summary;
  cursor: pointer;
}

.read {
  composes: notifyItem;
  h4, .summary, time {
    color: #ccc;
  }
}

