.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  z-index: 100;
}

.headerContent {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 113.55px;
  height: 68px;
  /* content: url(/assets/logo.jpg); */
  margin: 0;
  cursor: pointer;
}

.headerMain {
  display: flex;
  align-items: center;
}

.appLink {
  margin-left: 40px;
}

.flyIcon {
  composes: icon from global;
  display: block;
  width: 28px;
  height: 28px;
}

.msgNotify {
  margin-left: 40px;
}

.msgNotifyIcon {
  display: block;
}

.loginUserInfo {
  margin-left: 30px;
  font-size: 0;
  line-height: .4rem;
  white-space: nowrap;
}

.userBtn {
  display: inline-block;
  font-size: .28rem;
  vertical-align: top;
}

.register {
  composes: userBtn;
}

.login {
  composes: userBtn;
}

.login:before {
  content: '';
  margin-left: .2rem;
  padding: .2rem .2rem .2rem 0;
  border-left: 1px solid #ccc;
  font-size: 0;
  vertical-align: top;
}

.loginInfo {
  display: inline-block;
  line-height: 32px;
  vertical-align: middle;
}

.avatarWrapper {
  display: inline-block;
  cursor: pointer;
}

.nickName {
  composes: loginInfo;
  margin-left: .1rem;
  font-size: 18px;
  cursor: pointer;
}

.logout {
  composes: loginInfo;
  margin-left: .2rem;
  font-size: 16px;
}

.btnYl{
   display: inline-block;
   margin-bottom: 0;
   text-align: center;
   vertical-align: middle;
   touch-action: manipulation;
   cursor: pointer;
   background: #1890ff;
   color:#fff;
   border: 1px solid transparent;
   white-space: nowrap;
   margin-left: 50px;
   width:200px;
   height:32px;
   line-height: 32px;
   border-radius: 5px;
}