.scrollContainer {
  height: 100%;
  border-top: 69px solid transparent;
  padding-top: 40px;
  overflow: auto;
  padding-bottom: 40px;
}

.loginForm {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: .4rem .4rem 0;
  border-radius: .1rem;
  border: 1px solid #ccc;
  background-color: white;
}
