.breadCrumbWrapper {
  composes: faic from global;
  padding: .2rem .3rem;
  background-color: #eee;
  & > p {
    margin: 0;
  }
}

.listWithHeader {
  & > header {
    padding: 0 .3rem;
    border-bottom: 1px solid #ccc;
    & > h4 {
      margin: 0;
      line-height: 50px;
    }
  }
}
