body {
  background-color: #eee !important;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}

:global(.app-container) {
  padding-top: 1rem;
}

:global(.icon) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

:global(.moreBtn) {
  /* “更多操作”按钮通用样式 */
  display: block;
  box-sizing: content-box;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(/assets/ellipsis.svg);
  cursor: pointer;
}

:global(.app-main) {
  width: 88%;
  padding-top: .8rem;
  margin: 0 auto;
}

:global(.faic) {
  /* flex align items center */
  display: flex;
  align-items: center;
}

:global(.fsb) {
  /* flex space between */
  justify-content: space-between;
}

:global(.no-margin) {
  margin: 0;
}
