.postItem {
  position: relative;
  padding: .4rem;
  cursor: pointer;
}

.postItem:not(:first-child) {
  border-top: 1px solid #f1f1f1;
}

.stickIcon {
  composes: icon from global;
  position: absolute;
  width: .8rem;
  height: .8rem;
  top: 0;
  right: 0;
}

.stickPostTitle {
  padding-right: .4rem;
}

